{% extends 'base.html.twig' %}

{% block title %}Liste des vitrines{% endblock %}

{% block body %}
    <h1>Liste des vitrines</h1>
    <ul>
        {% for v in vitrines %}
            <li>
                <a href="{{ path('app_vitrine_show', { id: v.id }) }}">
                    {{ v.description }} (id: {{ v.id }})
                </a>
            </li>
        {% else %}
            <li>Aucune vitrine trouvée.</li>
        {% endfor %}
    </ul>
{% endblock %}
